.full_viewport {
  position: fixed;
  top: 0px;
  left: 0px;

  .content_wrap {
    display: flex;
    flex-direction: column;
    position: relative;

    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    &.dvh {
      min-height: 100dvh;
      max-height: 100dvh;
      min-width: 100dvw;
      max-width: 100dvw;
    }
  }

  pointer-events: all;
}
